/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run main.nf -profile test_OF,<docker/singularity/apptainer> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {

        config_profile_name        = 'Test with OrthoFinder profile'
        config_profile_description = 'Test dataset to check pipeline function with Orthofinder orthologues files'

	A         = "${projectDir}/data/test/OrthoFinder_test/Scer.fna"
	B         = "${projectDir}/data/test/OrthoFinder_test/*.fna"
	ctl_file  = "${projectDir}/ctl/codeml_one_omega_model.ctl"
	tree      = "${projectDir}/data/test/OrthoFinder_test/Saccharo.nwk"
	A_seqlist = "${projectDir}/data/test/OrthoFinder_test/Scer_12_seq.txt"
        ortho     = "${projectDir}/data/test/OrthoFinder_test/OF_orthos/*"
}
